<html>
    <h1>List of containers</h1>
    {{ range $category, $entries := .Entries }}
        {{ if or (gt (len $.Entries) 1) (ne $category $.DefaultCategory) }}
        <h2>{{ $category | capitalize }}</h2>
        {{ end }}
        {{range $entries }}
        <ul>
            {{ if .Name }}<li>{{ .Name }}</li>{{ end }}
            {{ if .Proto }}<li>{{ .Proto }}</li>{{ end }}
            {{ if .Host }}<li>{{ .Host }}</li>{{ end }}
        </ul>
        {{ end }}
    {{ else }}
        No container
    {{ end }}
</html>
