<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ghosts</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"><Paste>

        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header class="navbar bg-secondary">
            <section class="navbar-section">
            </section>
            <section class="navbar-center">
                <div class="brand">
                    <a class="logo" href=""><img src="static/logo.png" alt="Ghosts">
                        <h2>GHOSTS</h2>
                    </a>
                </div>
            </section>
            <section class="navbar-section">
                <cite>- A Docker discreet companion</cite>
            </section>
        </header>
        <div class="wrapper">
            <div class="container">
                {{ range $category, $entries := .Entries }}
                <div class="columns">
                    <div class="column col-3">
                        <div class="category">
                            <div class="panel bg-gray">
                                <h5>{{ $category | capitalize }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="column col-9">
                        <div class="columns">
                            {{range $entry := $entries }}
                                <div class="column col-4">
                                    <div class="entry">
                                        <div class="panel">
                                            <div class="panel-header text-center">
                                                <figure class="avatar avatar-xl">
                                                    {{ if .Logo }}
                                                        <img class="bg-gray" src="{{ .Logo }}" alt="{{ .Name }}">
                                                    {{ else }}
                                                        <img data-name="{{ .Name }}" alt="{{ .Name }}" class="initial"/>
                                                    {{ end }}
                                                </figure>
                                                <div class="panel-subtitle">
                                                    {{ if .Auth }}<i class="fas fa-lock"></i> {{ end }}{{ .Name | upper }}
                                                </div>
                                                <div class="popover popover-top">
                                                    <a href="{{ .URL $.Config }}" target="_blank" class="btn btn-primary">Open</a>

                                                    {{ if .Description }}
                                                    <div class="popover-container">
                                                        <div class="card">
                                                            <div class="card-header">{{ .Description }}</div>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ else }}
                    No container
                {{ end }}
            </div>
        </div>
        <div class="empty">
			<img class="gopher" src="static/logo.png" alt="Ghosts">
            <p class="empty-title h5">The page you are looking for does not appear here?</p>
            <p class="empty-subtitle">Click the button to open the help page.</p>
            <div class="empty-action">
                <a href="{{ $.Config.Help }}" target="_blank" id="bookmark" class="btn btn-primary">Help</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/judesfernando/initial.js/master/dist/initial.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.initial').initial({
                    charCount: 2,
                    fontSize: 35,
                    height: 80,
                    width: 80,
                    fontWeight: 500
                });

                $('img').error(function(){
                    $(this).remove();
                });
            });
        </script>
    </body>
</html>
