.wrapper {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1200px;
}

.navbar {
    padding: 0 20px;
    height: 60px;
}

.brand .logo {
    align-items: center;
    display: inline-flex;
    display: -ms-inline-flexbox;
    padding: .2rem;
    width: auto;
}

.brand .logo img {
    display: inline-block;
    height: auto;
    width: 2.3rem;
}

.brand .logo h2 {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: .5rem;
    margin-right: .5rem;
}

.column { 
    padding: .5rem; 
}

.entry .panel {
    border-radius: .1rem;
}

.entry .panel .panel-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 0;
}

.entry .panel .panel-header .links {
    font-size: 12px;
}

.category {
    height: 100%;
    padding: .5rem;
}

.category .panel{
    height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
}

.empty .gopher {
	width: 8rem;
}

.empty blockquote {
    width: 260px;
    margin: 20px auto;
}

.avatar {
    background: none;
}
